@{
    ViewData["Title"] = "欢迎使用 NeuChar-App";
}

<div class="text-center">
    <h1 class="display-4">欢迎使用 NeuChar-App！</h1>
    <p>&nbsp;</p>
    <p>当前 Sample 向您演示了如何在 www.neuchar.com 平台上快速创建一个应用（APP）。</p>
    <p>NeuChar 平台用户可以通过订阅您发布的应用，将您的应用自动对接到其平台（微信、小程序等），让其的用户使用。</p>
    <p>&nbsp;</p>
    <p>使用此 Sample，您可以非常快速地发布基于微信对话（同步兼容公众号或小程序）的应用或基于网页的应用。</p>
    <p>&nbsp;</p>
    <p>NeuChar 平台网站： <a href="https://www.neuchar.com" target="_blank">https://www.neuchar.com</a></p>
    <p>开发者后台： <a href="https://www.neuchar.com/Developer" target="_blank">https://www.neuchar.com/Developer</a></p>
</div>
